.hover-icon {
  opacity: 0.55;
  cursor: pointer;
}

.hover-icon:hover {
  opacity: 1;
}

.panel-heading {
  padding: 5px 10px;
  border-radius: 10px;

  .hover-icon-reversed {
    display: none;
  }

  &:hover .hover-icon-reversed {
    display: none;
  }
}

.panel {
  margin: 5px 0;
}
